.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}
.columns.icons img {
    width: 10%;
}

.columns.icons a.button:any-link, button {
    /*font-family: var(--font-family-body);*/
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--link-color);
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
    width: 450px;
}



.columns.white-button a.button:any-link, button {
    /*font-family: var(--font-family-body);*/
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid var(--link-color);
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
    width: 450px;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}