main .recent-container .default-content-wrapper {
    text-align: center;
}

main .recent-wrapper {
    max-width: 1100px;
    text-align: center;
}

main .recent {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 20px;
    flex-flow: row nowrap;
}

main .recent > div {
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
}

.recent.cards .cards-card {
    width: calc(100% / 5 * 4);
    max-width: 300px;
    height: auto;
    min-height: 120px;
}

.recent.cards .cards-card > a {
    display: flex;
    height: calc(100% - 40px);
    flex-flow: column;
    padding: 20px;
    justify-content: left;
}

.recent .cards-card h2,
.recent .cards-card h3,
.recent .cards-card h4 {
    margin-top: 0;
    margin-left: 42px;
    font-size: 24px;
    color: var(--fg-color-dark-blue);
}

.recent .cards-card.no-image h2,
.recent .cards-card.no-image h3,
.recent .cards-card.no-image h4 {
    margin-left: 0;
}

.recent.cards .cards-card p {
    font-size: 14px;
}

.recent.cards .cards-card p:first-child {
    position: absolute;
    margin: 0;
}

.recent.cards .cards-card p:first-child img {
    width: 30px;
    height: 30px;
}

.recent.cards .cards-card p.recent-view-content {
    margin: 10px 0;
    width: 100%;
    vertical-align: bottom;
    flex-grow: 1;
    color: var(--fg-color-dark-blue);
    font-size: 16px;
    font-weight: 800;
}

.recent.cards .cards-card p.recent-view-content::before {
    content: "View Content  â¯";
    position: absolute;
    bottom: 20px;
}

main .recent::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #eee; /* or add it to the track */
}

main .recent::-webkit-scrollbar-thumb {
    background: #999;
}

main .recent.cards-single::-webkit-scrollbar {
    display: none;
}

@media (min-width: 600px) {
    .recent.cards .cards-card {
        width: calc(100% / 2);
    }
}

@media (min-width: 900px) {
    main .recent > div {
        width: calc(100% / 3);
    }

    .recent.cards.cards-fifty-fifty .cards-card {
        width: calc(50% - 10px);
        max-width: unset;
    }
}

@media (min-width: 1200px) {
    main .recent.cards:not(.cards-fifty-fifty,.cards.cards-single) .cards-card {
        width: calc((100% / 3) - 14px);
    }
}

/* theme-specific styles */
.haematology .recent .cards-card h2,
.haematology .recent .cards-card h3,
.haematology .recent .cards-card h4 {
    color: var(--graphite-100);
}

.haematology .recent.cards .cards-card p.recent-view-content {
    color: var(--magenta-100);
}